.home {
}

table {
  width: 100%;

  .avaliacao {
    max-width: 70%;
    min-width: 70%;
    width: 70%;
  }

  .can-answer-true {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    cursor: not-allowed;
  }

  .can-answer-false {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
