<div class="home">
  <h1>Avaliações Disponíveis</h1>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Avaliação">
      <th class="avaliacao" mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="Respondido">
      <th mat-header-cell *matHeaderCellDef>Respondido</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.isAnswered === true">task_alt</mat-icon
        ><mat-icon *ngIf="element.isAnswered === false"
          >radio_button_unchecked</mat-icon
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="Responder">
      <th mat-header-cell *matHeaderCellDef>Responder</th>
      <td mat-cell *matCellDef="let element">
        <button
          class="can-answer-{{ element.isAnswered }}"
          [disabled]="element.isAnswered === true"
          (click)="openForm(element.id)"
        >
          <mat-icon>content_paste</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Publicacao">
      <th mat-header-cell *matHeaderCellDef>Data de Publicação</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date: "dd/MM/y" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="evaluationForms?.length"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
